<div class="container" style="margin :20px">
    <h1 style = "margin-left: 400px"> USER LİST </h1>
    <div class="buttondesigner"> 
     <a href="/add"  style =" border-radius: 50%" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Add User</a>
    </div>

    <div class="listdesigner">

        <div class="list-group" style = "margin:45px; width : 300px">
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
           <a href="#" class="list-group-item list-group-item-action list-group-item-light">This is a light list group item</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-light">This is a light list group item</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-light">This is a light list group item</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-light">This is a light list group item</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-light">This is a light list group item</a>
          <a href="#" class="list-group-item list-group-item-action list-group-item-light">This is a light list group item</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-light">This is a light list group item</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-light">This is a light list group item</a>
    </div>
 
 </div>